/**
 * Structural styles only, use theme.ts for colours and other theme-specific aesthetics
 **/
body {
    overscroll-behavior-y: none;
}

.customDialogTitle h2.MuiTypography-root,
h2.customDialogTitle {
    padding: 0px;
}

/* DataGrid */
.MuiDataGrid-columnHeader:focus,
.MuiDataGrid-columnHeader:focus-within,
.MuiDataGrid-cell:focus-within,
.MuiDataGrid-cell:focus {
    outline: none !important;
}

.allowWrap.MuiDataGrid-cell {
    white-space: normal !important;
}

a.MuiLink-root {
    font-size: 0.875rem;
}

.MuiDataGrid-iconSeparator:last-child {
    display: none !important;
}

fieldset {
    border: 1px solid;
}

.AvatarCheckBox .MuiCheckbox-root {
    display: none;
}

.Mui-selected .AvatarCheckBox .MuiCheckbox-root,
.AvatarCheckBox.checked .MuiCheckbox-root {
    display: inline-flex;
}

.Mui-selected .AvatarCheckBox .MuiAvatar-root,
.AvatarCheckBox.checked .MuiAvatar-root {
    display: none;
}

.AvatarCheckBox:hover .MuiAvatar-root {
    display: none;
}

.AvatarCheckBox:hover .MuiCheckbox-root {
    display: inline-flex;
}

.windowMinimise {
    display: none;
}

.windowList {
    .MuiTabs-indicator {
        left: 0;
    }

    .MuiTabs-flexContainer {
        gap: 2px !important;
    }

    &.MuiTabs-root {
        padding: 5px !important;
    }

    .MuiButtonBase-root {
        min-width: auto !important;
        padding: 10px !important;
        align-items: center;
        justify-content: center;
        border-radius: 2px;
    }

    .Mui-selected,
    .MuiButtonBase-root:hover {
        backdrop-filter: invert(10%);
    }

    .windowListIcon {
        filter: grayscale(1);

        &.activeWindow {
            filter: none;
        }
    }
}


/* Skeletons */
.skeletonEx {
    position: relative;
    display: inline-block;
    width: 100%;

    .MuiSkeleton-root {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 1;
        display: none !important;
    }
}

.skeletons {
    .skeletonEx {
        .MuiSkeleton-root {
            display: inline-block !important;
        }

        .skeleton-child {
            visibility: hidden !important;
        }
    }
}